[credform class='cred-form cred-keep-original']

	[cred_field field='form_messages' value='']

	<div class="cred-field cred-field-post_title">
		<label class="cred-label">
Nome storytelling
</label>
		[cred_field field='post_title' post='storytelling' value='' urlparam='']
	</div>

	<div class="cred-field cred-field-post_content">
		<label class="cred-label">
Descrizione storytelling
</label>
		[cred_field field='post_content' post='storytelling' value='' urlparam='']
	</div>

	<div class="cred-group cred-group-Field-Group-for-storytelling">
		<div class="cred-header"><h3>Field Group for storytelling</h3></div>
		<div class="cred-field cred-field-data">
			<label class="cred-label">
data
</label>
			[cred_field field='data' post='storytelling' value='' urlparam='']
		</div>
		<div class="cred-field cred-field-photostory">
			<label class="cred-label">
photostory
</label>
			[cred_field field='photostory' post='storytelling' value='' urlparam='']
		</div>
		<div class="cred-field cred-field-oggettoservicedata">
			<label class="cred-label">
oggettoservicedata
</label>
          
      



          
          
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<ul onmouseover="if(getElementById('login')){add_class('login','transparent')}; if(getElementById('lang')){add_class('lang','transparent')}; if(getElementById('search-detail')){add_class('search-detail','transparent')};">
</head>

o:<input type='text' name='codice' id='codice'/><br />

<button  onClick='mostra()' > 
		
		</a> </button><br />


<script type="text/javascript">


function mostra() {
      var testo= $('#codice').val();
	  console.log(testo);
	  $(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/object/o:"+testo+"/dc";
	  $.getJSON(url, function(response){
      alert(response.metadata.dc);
      var myData = '';
	  console.log(response.metadata.dc);
	  $.each(response.metadata.dc[2], function(a,campo){
		  console.log(campo);
        myData+=campo
		  $(".dc").append(campo);
		  $("[name='wpcf-oggettoservicedata']").val(myData);
		  	  
		});
		
		
		
		
				
		
		
	  });
	});
}



</script>


<body>
<div class="dc"></div>

<br />         
          
          
                        
          
      
  <div class="cred-field cred-field-phaidra">
			<label class="cred-label">
phaidra preview metadata(per ilcorretto inserimento assicurarsi che la label sia in modalita' "testo" )
</label>
			[cred_field field='phaidra' post='digital-object' value='' urlparam='']
		</div>
	</div>        
          
          
          
          
          
          
          
          
          
          
          
          
          
          
			[cred_field field='oggettoservicedata' post='storytelling' value='' urlparam='']
		</div>
		<div class="cred-field cred-field-photoservice">
			<label class="cred-label">
photoservice
</label>
			[cred_field field='photoservice' post='storytelling' value='' urlparam='']
		</div>
	</div>

	[cred_field field='form_submit' value='Procedi' urlparam='']

[/credform]
