[credform class='cred-form cred-keep-original']

	[cred_field field='form_messages' value='']

	<div class="cred-field cred-field-post_title">
		<label class="cred-label">
          
          
          
          
          
Nome metadata
</label>
		[cred_field field='post_title' post='metadata' value='' urlparam='']
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<ul onmouseover="if(getElementById('login')){add_class('login','transparent')}; if(getElementById('lang')){add_class('lang','transparent')}; if(getElementById('search-detail')){add_class('search-detail','transparent')};">
</head>

o:<input type='text' name='codice' id='codice'/><br />

<button  onClick='mostra()'> 
	
	
		</a></button><br />


<script type="text/javascript">


function mostra() {
	var testo= $('#codice').val();
	
	
	
	
	
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/object/o:"+testo+"/uwmetadata";
	  $.getJSON(url, function(response){
		console.log(response.metadata.uwmetadata);
        alert(response.metadata.uwmetadata);
         var myData1 = '';
        var myData2 = '';
        var myData3 = '';
	$.each(response.metadata.uwmetadata, function(a,campo){
		 console.log(campo);
      
      myData1+=campo.children[0].xmlname + ": " + campo.children[0].ui_value + "\n";
      myData2+=campo.children[1].xmlname + ": " + campo.children[1].ui_value + "\n";
       myData3+=campo.children[3].xmlname + ": " + campo.children[3].ui_value + "\n";
      //$(".dc").append(myData);
      $("[name='wpcf-phaidrametadata']").val(myData1);
      $("[name='wpcf-phaidrametadata']").val(myData2);
       $("[name='wpcf-phaidrametadata']").val(myData3);
       $(".dc").append(campo.children[0].xmlname +":" + campo.children[0].ui_value + "<br>");
      $(".dc").append(campo.children[1].xmlname +":" + campo.children[1].ui_value + "<br>");
	$(".dc").append(campo.children[3].xmlname +":" + campo.children[3].ui_value + "<br>");
      
		});
		
				
		
	  });
	});
	}
	


	
	
	
	
	


</script>



<body>
<div class="dc"></div>










	<div class="cred-field cred-field-post_content">
		<label class="cred-label">
Descrizione metadata
</label>
		[cred_field field='post_content' post='metadata' value='' urlparam='']
	</div>

	<div class="cred-group cred-group-Field-Group-for-metadata">
		<div class="cred-header"><h3>Field Group for metadata</h3></div>
		<div class="cred-field cred-field-phaidrametadata">
			<label class="cred-label">
phaidrametadata
</label>
			[cred_field field='phaidrametadata' post='metadata' value='' urlparam='']
		</div>
	</div>
















	[cred_field field='form_submit' value='Procedi' urlparam='']

[/credform]