[credform class='cred-form cred-keep-original']

	[cred_field field='form_messages' value='']

	<div class="cred-field cred-field-post_title">
		<label class="cred-label">
Nome mostravirtuale
</label>
		[cred_field field='post_title' post='mostravirtuale' value='' urlparam='']
	</div>

	<div class="cred-field cred-field-post_content">
		<label class="cred-label">
Descrizione mostravirtuale
</label>
		[cred_field field='post_content' post='mostravirtuale' value='' urlparam='']
	</div>

	<div class="cred-group cred-group-Field-Group-for-mostravirtuale">
		<div class="cred-header"><h3>Field Group for mostravirtuale</h3></div>
		<div class="cred-field cred-field-descrizionefotomostravirtuale">
			<label class="cred-label">
descrizionefotomostravirtuale
</label>
			[cred_field field='descrizionefotomostravirtuale' post='mostravirtuale' value='' urlparam='']
		</div>
      
      
      
      
      
      
      
      
      
      
      
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
      
      
      
      
    
		<div class="cred-field cred-field-fotomostravirtuale">
			<label class="cred-label">
fotomostravirtuale
</label>
			[cred_field field='fotomostravirtuale' post='mostravirtuale' value='' urlparam='']
		</div>
	</div>


<input type='text' name='id_immagine' id='id_immagine'/><br />

<button  onClick='anteprimaImmagine()' > <a class="phaidra-logo"  title="Image preview"><img src="https://phaidra.cab.unipd.it/static/padova/img/logos/phaidra-logo.png" height ="50" width="70" alt="Phaidra - Collezioni digitali">
		
		</a> Image preview</button><br />
  

<script type="text/javascript">


function anteprimaImmagine() {
	var testo= $('#id_immagine').val();
    var imageUrl = 'https://fc.cab.unipd.it/fedora/objects/o:'+testo+'/methods/bdef:Asset/getThumbnail';
    $('#img_anteprima').attr('src', imageUrl);
  
  $("[name='wpcf-fotomostravirtuale']").val('<img src="'+imageUrl+'"></img>'); 


}
  
  
function importaImmagine() {
  var testo= $('#id_immagine').val();
  $('#id_immagine').val();
  
  
  
  
}

</script>

<div id="div_anteprima">
  <img id="img_anteprima" />
	<button id="btn_anteprima" onclick="importaImmagine()">Importa</button>
</div>
<br />
      
      
   <div class="cred-field cred-field-immagine-phaidra">
			<label class="cred-label">
phaidra preview immagine(per il corretto inserimento assicurarsi che la label sia in modalita' "testo" )
</label>
			[cred_field field='fotomostravirtuale' post='mostravirtuale' value='' urlparam='']
		</div>








































	[cred_field field='form_submit' value='Procedi' urlparam='']

[/credform]