[credform class='cred-form cred-keep-original']

	[cred_field field='form_messages' value='']





	<div class="cred-group cred-group-Field-Group-for-digital-objects">
		<div class="cred-header"><div class="shjlffh" style="color:white; font-size:13px";>Sezione "Tutti gli oggetti"</div></div>
		<div class="cred-field cred-field-id">
			<label class="cred-label">
id
</label>
			[cred_field field='id' post='digital-object' value='' urlparam='']
		</div>
		<div class="cred-field cred-field-description">
			<label class="cred-label">
description
</label>
			[cred_field field='description' post='digital-object' value='' urlparam='']
		</div>
      


      
      
      
      
      
      
      
           
      
      
 <div class="cred-header"><div class="shjlffh" style="color:white; font-size:13px";>Sezione "Digital Gallery"</div>     

	<div class="cred-field cred-field-post_title">
		<label class="cred-label">
Nome digital object
</label>
		[cred_field field='post_title' post='digital-object' value='' urlparam='']
	</div>

	<div class="cred-field cred-field-post_content">
		<label class="cred-label">
Descrizione digital object
</label>
		[cred_field field='post_content' post='digital-object' value='' urlparam='']
	</div>

       
      
      
		<div class="cred-field cred-field-photo">
			<label class="cred-label">
photo
</label>
			[cred_field field='photo' post='digital-object' value='' urlparam='']
		</div>
      
      
		<div class="cred-field cred-field-data-di-scopertarinvenimento">
			<label class="cred-label">
Data di scoperta/rinvenimento
</label>
			[cred_field field='data-di-scopertarinvenimento' post='digital-object' value='' urlparam='']
		</div>
      
		<div class="cred-field cred-field-autore">
			<label class="cred-label">
Autore
</label>
			[cred_field field='autore' post='digital-object' value='' urlparam='']
		</div>
		<div class="cred-field cred-field-video">
			<label class="cred-label">
Video
</label>
			[cred_field field='video' post='digital-object' value='' urlparam='']
		</div>
		





 <div class="cred-header"><div class="shjlffh" style="color:white; font-size:13px";>Sezione "Tassonomie"</div>  







	<div class="cred-group cred-group-taxonomies">
		<div class="cred-taxonomy cred-taxonomy-fisica">
          <div class="cred-header"> 
            <div class="cred-header">
              <div class="shjffdlffh" style="color:white; font-size:12px";>fisica</div>  </div>
            <div class="shjffdlffh" style="color:white; font-size:8px";>[cred_field field='fisica' display='checkbox']</div>
            
    
            
            
			
		</div>
      
      
      
		<div class="cred-taxonomy cred-taxonomy-biologia">
			<div class="cred-header">
            <div class="cred-header"><div class="shjffdhhlffh" style="color:white; font-size:12px";>biologia</div>
		    <div class="shjffdgvhglffh" style="color:white; font-size:8px";>
		[cred_field field='biologia' display='checkbox']
			</div>
		
              
              
              
              
                          
              
		
      <div class="cred-taxonomy cred-taxonomy-mineralogia">
			<div class="cred-header"><div class="cred-header">
              <div class="cred-header"><div class="shjkllffdhhlffh" style="color:white; font-size:12px";>Mineralogia</div>
			<div class="shjffdgvffhglffh" style="color:white; font-size:8px";>[cred_field field='mineralogia' display='checkbox']
		
			</div>
		
  
              
              
              
              
              
<div class="cred-taxonomy cred-taxonomy-antropologia">
			<div class="cred-header"><div class="cred-header"><div class="shjkllfjfdhhlffh" style="color:white; font-size:12px";>Antropologia</div></div>
			<div class="shjffdgvvvffhglffh" style="color:white; font-size:8px";>[cred_field field='antropologia' display='checkbox']
			
				
			</div>
		</div>
      
      




      
      
	


 <div class="cred-header"><div class="shjlffh" style="color:white; font-size:15px";>Sezione "Collezioni digitali"</div>
<label class="cdsfsdfdsf-label" ></label>







<input type='text' name='codice' id='codice'/><br />

<button  onClick='mostra()' > <a class="phaidra-logo"  title="Phaidra - Code Searcher"><img src="https://phaidra.cab.unipd.it/static/padova/img/logos/phaidra-logo.png" height ="50" width="70" alt="Phaidra - Collezioni digitali">
		
		</a> </button><br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  
function mostra() {
	var testo= $('#codice').val();
	console.log(testo);
    
  //$(document).ready(function(){
	   var url = "https://phaidra.cab.unipd.it/api/object/o:"+testo+"/dc";
	  $.getJSON(url, function(response){
            console.log(response.metadata.dc);
        alert(response.metadata.dc);
        var myData = '';
		$.each(response.metadata.dc, function(a,campo){
		  console.log(campo);
          myData+=campo.xmlname + ": " + campo.ui_value + "\n";
		  $(".dc").append(myData);
          $("[name='wpcf-phaidra']").val(myData);
         });
        
        });
  // });

	}

</script>



<br />
      
      
  <div class="cred-field cred-field-phaidra">
			<label class="cred-label">
phaidra preview metadata(per ilcorretto inserimento assicurarsi che la label sia in modalita' "testo" )
</label>
			[cred_field field='phaidra' post='digital-object' value='' urlparam='']
		</div>
	</div>    
      
      
      
      
      
      
         



<input type='text' name='id_immagine' id='id_immagine'/><br />

<button  onClick='anteprimaImmagine()' > <a class="phaidra-logo"  title="Image preview"><img src="https://phaidra.cab.unipd.it/static/padova/img/logos/phaidra-logo.png" height ="50" width="70" alt="Phaidra - Collezioni digitali">
		
		</a> Image preview</button><br />
  

<script type="text/javascript">


function anteprimaImmagine() {
	var testo= $('#id_immagine').val();
    var imageUrl = 'https://fc.cab.unipd.it/fedora/objects/o:'+testo+'/methods/bdef:Asset/getThumbnail';
    $('#img_anteprima').attr('src', imageUrl);
  
  $("[name='wpcf-immagine-phaidra']").val('<img src="'+imageUrl+'"></img>'); 


}
  
  
function importaImmagine() {
  var testo= $('#id_immagine').val();
  $('#id_immagine').val();
  
  
  
  
}


</script>

<div id="div_anteprima">
  <img id="img_anteprima" />
	<button id="btn_anteprima" onclick="importaImmagine()">Importa</button>
</div>
<br />
      
      
   <div class="cred-field cred-field-immagine-phaidra">
			<label class="cred-label">
phaidra preview immagine(per il corretto inserimento assicurarsi che la label sia in modalita' "testo" )
</label>
			[cred_field field='immagine-phaidra' post='digital-object' value='' urlparam='']
		</div>
   
      



      
      
      

<div class="cred-header"><div class="shjlkkffh" style="color:white; font-size:12px";>Museo di afferenza</div>

<div class="cred-taxonomy cred-taxonomy-musei">
			<div class="cred-header"></div>
  <div class="cred-header"><div class="skhjlffh" style="color:white; font-size:12px";>
			[cred_field field='musei' display='checkbox']
			
			</div>
    
    
 <div class="cred-header"><div class="shjffflffh" style="color:white; font-size:12px";>Sezione "Service dei Musei"</div>
<label class="cdsfsdfdsf-label" ></label>
   [cred_field field='museostnaturalelondra' post='digital-object' value='' urlparam='']
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
      <input type='text' name='codice2' id='codice2'/><br />

<button  onClick='mostra2()' > <a class="museo-logo"  title="museo - Code Searcher">
		
		</a> </button><br />  
   

  
   
   
   
   <script>
     
     function mostra2() {
	var testo2= $('#codice2').val();
	console.log(testo2); 
     
     
   $(document).ready(function(){
	   var url2 = "http://demo.ckan.org/api/3/action/package_search?fq=tags:"+testo2+"";
	  $.getJSON(url2, function(response2){
            console.log(response2.result.results);
        alert(response2.result.results);
        var myData2 = '';
		$.each(response2.result.results, function(a2,campo2){
		  console.log(campo2);
          myData2+=campo2.title + ": " ;
		  $(".dc2").append(myData2);
          $("[name='wpcf-museostnaturalelondra']").val(myData2);
         });
        
        });
   });

     }	

   </script>


<div class="dc2"></div>
   
   
   
   
   
   
   
   [credform class='cred-form cred-keep-original']

	[cred_field field='form_messages' value='']





	<div class="cred-group cred-group-Field-Group-for-digital-objects">
		<div class="cred-header"><div class="shjlffh" style="color:white; font-size:13px";>Sezione "Tutti gli oggetti"</div></div>
		<div class="cred-field cred-field-id">
			<label class="cred-label">
id
</label>
			[cred_field field='id' post='digital-object' value='' urlparam='']
		</div>
		<div class="cred-field cred-field-description">
			<label class="cred-label">
description
</label>
			[cred_field field='description' post='digital-object' value='' urlparam='']
		</div>
      


      
      
      
      
      
      
      
           
      
      
 <div class="cred-header"><div class="shjlffh" style="color:white; font-size:13px";>Sezione "Digital Gallery"</div>     

	<div class="cred-field cred-field-post_title">
		<label class="cred-label">
Nome digital object
</label>
		[cred_field field='post_title' post='digital-object' value='' urlparam='']
	</div>

	<div class="cred-field cred-field-post_content">
		<label class="cred-label">
Descrizione digital object
</label>
		[cred_field field='post_content' post='digital-object' value='' urlparam='']
	</div>

       
      
      
		<div class="cred-field cred-field-photo">
			<label class="cred-label">
photo
</label>
			[cred_field field='photo' post='digital-object' value='' urlparam='']
		</div>
      
      
		<div class="cred-field cred-field-data-di-scopertarinvenimento">
			<label class="cred-label">
Data di scoperta/rinvenimento
</label>
			[cred_field field='data-di-scopertarinvenimento' post='digital-object' value='' urlparam='']
		</div>
      
		<div class="cred-field cred-field-autore">
			<label class="cred-label">
Autore
</label>
			[cred_field field='autore' post='digital-object' value='' urlparam='']
		</div>
		<div class="cred-field cred-field-video">
			<label class="cred-label">
Video
</label>
			[cred_field field='video' post='digital-object' value='' urlparam='']
		</div>
		





 <div class="cred-header"><div class="shjlffh" style="color:white; font-size:13px";>Sezione "Tassonomie"</div>  







	<div class="cred-group cred-group-taxonomies">
		<div class="cred-taxonomy cred-taxonomy-fisica">
          <div class="cred-header"> 
            <div class="cred-header">
              <div class="shjffdlffh" style="color:white; font-size:12px";>fisica</div>  </div>
            <div class="shjffdlffh" style="color:white; font-size:8px";>[cred_field field='fisica' display='checkbox']</div>
            
    
            
            
			
		</div>
      
      
      
		<div class="cred-taxonomy cred-taxonomy-biologia">
			<div class="cred-header">
            <div class="cred-header"><div class="shjffdhhlffh" style="color:white; font-size:12px";>biologia</div>
		    <div class="shjffdgvhglffh" style="color:white; font-size:8px";>
		[cred_field field='biologia' display='checkbox']
			</div>
		
              
              
              
              
                          
              
		
      <div class="cred-taxonomy cred-taxonomy-mineralogia">
			<div class="cred-header"><div class="cred-header">
              <div class="cred-header"><div class="shjkllffdhhlffh" style="color:white; font-size:12px";>Mineralogia</div>
			<div class="shjffdgvffhglffh" style="color:white; font-size:8px";>[cred_field field='mineralogia' display='checkbox']
		
			</div>
		
  
              
              
              
              
              
<div class="cred-taxonomy cred-taxonomy-antropologia">
			<div class="cred-header"><div class="cred-header"><div class="shjkllfjfdhhlffh" style="color:white; font-size:12px";>Antropologia</div></div>
			<div class="shjffdgvvvffhglffh" style="color:white; font-size:8px";>[cred_field field='antropologia' display='checkbox']
			
				
			</div>
		</div>
      
      




      
      
	


 <div class="cred-header"><div class="shjlffh" style="color:white; font-size:15px";>Sezione "Collezioni digitali"</div>
<label class="cdsfsdfdsf-label" ></label>
<input type='text' name='codice' id='codice'/><br />
   
   
   
   
   
   

<button  onClick='mostra()' > <a class="phaidra-logo"  title="Phaidra - Code Searcher"><img src="https://phaidra.cab.unipd.it/static/padova/img/logos/phaidra-logo.png" height ="50" width="70" alt="Phaidra - Collezioni digitali">
		
		</a> </button><br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  
function mostra() {
	var testo= $('#codice').val();
	console.log(testo);
    
  //$(document).ready(function(){
	   var url = "https://phaidra.cab.unipd.it/api/object/o:"+testo+"/dc";
	  $.getJSON(url, function(response){
            console.log(response.metadata.dc);
        alert(response.metadata.dc);
        var myData = '';
		$.each(response.metadata.dc, function(a,campo){
		  console.log(campo);
          myData+=campo.xmlname + ": " + campo.ui_value + "\n";
		  $(".dc").append(myData);
          $("[name='wpcf-phaidra']").val(myData);
         });
        
        });
  // });

	}

</script>



<br />
      
      
  <div class="cred-field cred-field-phaidra">
			<label class="cred-label">
phaidra preview metadata(per ilcorretto inserimento assicurarsi che la label sia in modalita' "testo" )
</label>
			[cred_field field='phaidra' post='digital-object' value='' urlparam='']
		</div>
	</div>    
      
   
  
  
  
  
  
  
  

<input type='text' name='id_immagine' id='id_immagine'/><br />

<button  onClick='anteprimaImmagine()' > <a class="phaidra-logo"  title="Image preview"><img src="https://phaidra.cab.unipd.it/static/padova/img/logos/phaidra-logo.png" height ="50" width="70" alt="Phaidra - Collezioni digitali">
		
		</a> Image preview</button><br />
  

<script type="text/javascript">


function anteprimaImmagine() {
	var testo= $('#id_immagine').val();
    var imageUrl = 'https://fc.cab.unipd.it/fedora/objects/o:'+testo+'/methods/bdef:Asset/getThumbnail';
    $('#img_anteprima').attr('src', imageUrl);
  
  $("[name='wpcf-immagine-phaidra']").val('<img src="'+imageUrl+'"></img>'); 


}
  
  
function importaImmagine() {
  var testo= $('#id_immagine').val();
  $('#id_immagine').val();
  
  
  
  
}


</script>

<div id="div_anteprima">
  <img id="img_anteprima" />
	<button id="btn_anteprima" onclick="importaImmagine()">Importa</button>
</div>
<br />
      
      
   <div class="cred-field cred-field-immagine-phaidra">
			<label class="cred-label">
phaidra preview immagine(per il corretto inserimento assicurarsi che la label sia in modalita' "testo" )
</label>
			[cred_field field='immagine-phaidra' post='digital-object' value='' urlparam='']
		</div>
   
      

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  


      
      
      

<div class="cred-header"><div class="shjlkkffh" style="color:white; font-size:12px";>Museo di afferenza</div>

<div class="cred-taxonomy cred-taxonomy-musei">
			<div class="cred-header"></div>
  <div class="cred-header"><div class="skhjlffh" style="color:white; font-size:12px";>
			[cred_field field='musei' display='checkbox']
			
			</div>
    
    
 <div class="cred-header"><div class="shjffflffh" style="color:white; font-size:12px";>Sezione "Service dei Musei"</div>
<label class="cdsfsdfdsf-label" ></label>
   [cred_field field='museostnaturalelondra' post='digital-object' value='' urlparam='']
   
   
   
   
   
   
   
   
   
   
   
   
  
   
      <input type='text' name='codice2' id='codice2'/><br />

<button  onClick='mostra2()' > <a class="museo-logo"  title="museo - Code Searcher">
		
		</a> </button><br />  
   

  
   
   
   
   <script>
     
     function mostra2() {
	var testo2= $('#codice2').val();
	console.log(testo2); 
     
     
   $(document).ready(function(){
	   var url2 = "http://demo.ckan.org/api/3/action/package_search?fq=tags:"+testo2+"";
	  $.getJSON(url2, function(response2){
            console.log(response2.result.results);
        alert(response2.result.results);
        var myData2 = '';
		$.each(response2.result.results, function(a2,campo2){
		  console.log(campo2);
          myData2+=campo2.title + ": " ;
		  $(".dc2").append(myData2);
          $("[name='wpcf-museostnaturalelondra']").val(myData2);
         });
        
        });
   });

     }	

   </script>


<div class="dc2"></div>
   
   
   
   
   
   
   
   
   
   
   
    
  
   
   
   
   <label class="cdskkkfsdfdsf-label" ></label>
   [cred_field field='victoriamuseum' post='digital-object' value='' urlparam='']
   
   
   
   
   
   <input type='text' name='codice6' id='codice6'/><br />

<button  onClick='mostra6()' > 
		
		 </button><br />  
   
   
   
   
   <script>
     
     function mostra6() {
	var testo6= $('#codice6').val();
	console.log(testo6); 
     
     
   $(document).ready(function(){
	   var url6 = "https://collections.museumvictoria.com.au/api/items/"+testo6+"";
	  $.getJSON(url6, function(response6){
            console.log(response6.objectName);
        alert(response6.objectName);
        var myData6 = '';
		myData6+=response6.objectName + ": " ;
		  $(".dc6").append(myData6);
          $("[name='wpcf-victoriamuseum']").val(myData6);
         });
        
        });
     }

    	

   </script>


<div class="dc6"></div>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
  
    
    
    
    
    

		







	[cred_field field='form_submit' value='OK' urlparam='']

[/credform]
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
  
    
    
    
    
    

		







	[cred_field field='form_submit' value='OK' urlparam='']

[/credform]